<% include partials/header %>            

<div class="container" style="width:80%;  margin:150 auto; margin-top:150px; font-size:50px;" >
    <strong>
        Every time you tear a leaf off a calendar, you present a new place for new ideas and progress.
        <a href="/register">Let's Get Started</a> 
    </strong>
</div>
                
<% include partials/footer %>  
